################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WebApi-JWT-Security/.vs/WebApi-JWT-Security
